* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
}

div:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.command-line1 {
    background-image: url();
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.git {
    background-image: url();
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.InsConsoleLog{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:200px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}
.StuConsoleLog{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:200px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}