* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
}

div:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.command-line1 {
    background-image: url();
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.git {
    background-image: url();
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.InsConsoleLog{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}
.StuConsoleLog{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}
.InsVariables{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}
.StuVariables{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}
.InsPrimitiveTypes{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}

.StuPrimitiveTypes{
    background-image: url(./assets/01-Ins-Script-Console2.PNG);
    background-size:250px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}

.InsLogicalComparison{
    background-image: url(./assets/07-Ins-Logical-Comparison2.PNG);
    background-size:150px 150px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 80px;
}
.StuLogicalComparison{
    background-image: url(./assets/08-Stu-Logical-Comparison2.PNG);
    background-size:200px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsConditionalStatements{
    background-image: url(./assets/09-Ins-Conditional-Statements2.PNG);
    background-size:210px 80px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.StuConditionalStatements{
    background-image: url(./assets/10-Stu-Conditional-Statements2.PNG);
    background-size:200px 120px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}
.InsArrays{
    background-image: url(./assets/11-Ins-Array2.PNG);
    background-size:200px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}
.StuArrays{
    background-image: url(./assets/12-Stu-Arrays2.PNG);
    background-size:200px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsIteration{
    background-image: url(./assets/13-Ins-Iteration2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}
.StuIteration{
    background-image: url(./assets/14-Stu-Iteration2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsFunctions{
    background-image: url(./assets/15-Ins-Functions2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.StuFunctions{
    background-image: url(./assets/16-Stu-Functions2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsScope{
    background-image: url(./assets/17-Ins-Scope2.PNG);
    background-size:220px 80px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}
.StuScope{
    background-image: url(./assets/18-Stu-Scope2.PNG);
    background-size:220px 80px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsMethods{
    background-image: url(./assets/19-Ins-Methods2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.StuMethods{
    background-image: url(./assets/20-Stu-Methods2.PNG);
    background-size:220px 40px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.InsObjects{
    background-image: url(./assets/21-Ins-Objects2.PNG);
    background-size:220px 80px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 50px;
}

.StuObjects{
    background-image: url(./assets/22-Stu-Objects2.PNG);
    background-size:240px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}

.InsObjectMeth{
    background-image: url(./assets/23-Ins-Object-Methods2.PNG);
    background-size:240px 100px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}

.StuObjectMeth{
    background-image: url(./assets/24-Stu-Object-Methods2.PNG);
    background-size:240px 30px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
}
.InsObjtThis{
background-image: url(./assets/25-Ins-Object-This2.PNG);
background-size:240px 100px;;
background-repeat: no-repeat;
background-position-y: 60px;
background-position-x: 30px;
}
.StuObjtThis{
    background-image: url(./assets/26-Stu-Object-This2.PNG);
    background-size:240px 100px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
    }

.MiniProject{
    background-image: url(./assets/28-Mini-Project2.PNG);
    background-size:250px 80px;;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 30px;
    }