* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: grey;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  black;
    border-radius: 2rem;
    margin: 1rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

div:hover {
    opacity: 1.0;
}
.InsNodeDemo {
    background-image: url(./assets/Node\ 01_02.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:center;}

.StuHelloNode {
    background-image: url(./assets/Node\ 02.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
    }

.InsArrowFunction {
    background-image: url(./assets/03-Arrow-Functions.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
    }

.StuArroeFunction {
    background-image: url(./assets/04-Stu-Arrow-Functions-Practice.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
    }

.InsLetConst {
    background-image: url(./assets/05-Ins-Let-Const.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuLetConst {
    background-image: url(./assets/06-Stu-Let-Const.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsFunctionalLoops{
    background-image: url(./assets/07-Ins-Functional-Loops.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuFunctionalLoops{
    background-image: url(./assets/08-Stu-Functional-Loops.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsTemplateLiterals{
    background-image: url(./assets/09-Ins-Template-Literals.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuTemplateLiterals{
    background-image: url(./assets/10-Stu-Template-Literals.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsProcessargv {
    background-image: url(./assets/11-Ins-Process-argv.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuParameterCheck{
    background-image: url(./assets/12-Stu-Parameter-Check.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsReadWriteFile{
    background-image: url(./assets/13-Ins-Read-Write-File.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuAppendFile{
    background-image: url(./assets/14-Stu-appendFile.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsModularization{
    background-image: url(./assets/15-Ins-Modularization.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuMaths{
    background-image: url(./assets/16-Stu-maths.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsNpm{
    background-image: url(./assets/17-Ins-npm.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuPackagenpm{
    background-image: url(./assets/18-Stu-Package-npm.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsInquirerDemo {
    background-image: url(./assets/19-Ins-Inquirer-Demo.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuInquirerUsers {
    background-image: url(./assets/20-Stu-Inquirer-Users.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}