* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
body{
    background-color: #000000;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: rgb(255, 255, 255);
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
}

div:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.InsMySQLShell{
    background-image: url(./assets/01-Ins-MySQL-Shell.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuMySQLShell{
    background-image: url(./assets/02-Stu-MySQL-Shell.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsDatabases{
    background-image: url(./assets/03-Ins-Databases.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuDatabases{
    background-image: url(./assets/04-Stu-Databases.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsTables {
    background-image: url(./assets/05-Ins-Tables.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuTables {
    background-image: url(./assets/06-Stu-Tables.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCRUDInsert{
    background-image: url(./assets/07-Ins-CRUD-Insert.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCRUDInsert{
    background-image: url(./assets/08-Stu-CRUD-Insert.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCRUDDelete{
    background-image: url(./assets/09-Ins-CRUD-Delete.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCRUDDelete{
    background-image: url(./assets/10-Stu-CRUD-Delete.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsConnectNode{
    background-image: url(./assets/11-Ins-Connect-Node.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuConnectNode{
    background-image: url(./assets/12-Stu-Connect-Node.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsDataTypes{
    background-image: url(./assets/13-Ins-Data-Types.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuDataTypes{
    background-image: url(./assets/14-Stu-Data-Types.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsSchema{
    background-image: url(./assets/15-Ins-Schema.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuSchema{
    background-image: url(./assets/16-Stu-Schema.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsSeeds{
    background-image: url(./assets/17-Ins-Seeds.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuSeeds{
    background-image: url(./assets/18-Stu-Seeds.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsForeignPrimaryKey{
    background-image: url(./assets/19-Ins-Foreign-Pirmary-Key.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuForeignPrimaryKey{
    background-image: url(./assets/20-Stu-Foreign-Primary-Key.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsPreparedStatements{
    background-image: url(./assets/21-Ins-Prepared-Statements.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuPreparedStatements{
    background-image: url(./assets/22-Stu-Prepared-Statements.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCOUNTGROUPBY{
    background-image: url(./assets/23-Ins-COUNT-GROUPBY.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCOUNTGROUPBY{
    background-image: url(./assets/24-Stu-COUNT-GROUPBY.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsJOIN{
    background-image: url(./assets/25-Ins-JOIN.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuJOIN{
    background-image: url(./assets/26-Stu-JOIN.PNG);
    background-size:200px 50px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

/* Dark mide Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(0, 255, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .row {
    margin: 20px;
    display: flex;
  }
  .col {
    margin: 20px;
  }
  /* Dark mide Switch */