* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: grey;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  black;
    border-radius: 2rem;
    margin: 1rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

div:hover {
    opacity: 1.0;
}
.InsGlobalExecution{
    background-image: url(./assets/01-Ins-Global-Execution-Context.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuGlobalExecution{
    background-image: url(./assets/02-Stu-Global-Execution-Context.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsFunctionalExecution{
    background-image: url(./assets/03-Ins-Functional-Execution.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuFunctionalExecution{
    background-image: url(./assets/04-Stu-Functional-Ececution.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsStacks{
    background-image: url(./assets/05-Ins-Stacks.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuStacks{
    background-image: url(./assets/06-Stu-Stacks.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsQueues{
    background-image: url(./assets/07-Ins-Queues.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuQueues{
    background-image: url(./assets/08-Stu-Queues.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCallbackQueues{
    background-image: url(./assets/09-Ins-Callback-Queue.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCallbackQueues{
    background-image: url(./assets/10-Stu-Callback-Queue.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsHigherOrderFunctions{
    background-image: url(./assets/11-Ins-Higher-Order-Function.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuHigherOrderFunctions{
    background-image: url(./assets/12-Stu-Higher-Order-Functions.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsClosures{
    background-image: url(./assets/13-Ins-Closures.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuClosures{
    background-image: url(./assets/14-Stu-Closures.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsFactoryFunctions{
    background-image: url(./assets/15-Factory-Functions.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuFactoryFunctions{
    background-image: url(./assets/16-Stu-Factory-Functions.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsFactoryvsConstructor{
    background-image: url(./assets/17-Ins-Factory-vs-Constructor.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuFactoryvsConstructor{
    background-image: url(./assets/18-Stu-Factory-vs-Constructors.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsEventDelegationHandling{
    background-image: url(./assets/19-Ins-Event-Delegation-Handling.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuEventDelegationHandling{
    background-image: url(./assets/20-Stu-Event-Delegation-Handling.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}