* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
body{
    background-color: #000000;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: #ffffff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #ffffff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
}

div:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.command-line1 {
    background-image: url(./assets/CommandLine.jpg);
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.Stucommand-line1 {
    background-image: url(./assets/CommandLine.jpg);
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.git {
    background-image: url(./assets/Github2.png);
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.StuGit {
    background-image: url(./assets/Github2.png);
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.html1{
    background-image: url(./assets/05-Ins-HTML2.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.html2{
    background-image: url(./assets/06-Stu-HTML2.PNG);
    background-size:200px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
    
}
.attributes1{
    background-image: url(./assets/07insattributes.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center; */
    background-size:200px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.attributes2{
    background-image: url(./assets/08-Stu-Attributes.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center; */
    background-size:150px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 75px;
}

.css-color1 {
    background-image: url(./assets/09-Ins-CSS.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center; */
    background-size:100px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 100px;
}
.css-color2 {
    background-image: url(./assets/10-Stu-CSS-color.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center; */
    background-size:120px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 90px;
}
.css-font1 {
    background-image: url(./assets/11-Ins-CSS-unit-font.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold; */
    text-align: center;
    background-size:120px 300px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 90px;
}
.css-font2 {
    background-image: url(./assets/12-stu-css-units-fonts.PNG);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center; */
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}

.css-selectors1{
    background-image: url(./assets/13-Ins-CSS-selectors2.PNG);
    background-size:100px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 95px;
}

.css-selectors2{
    background-image: url(./assets/14-Stu-CSS-selectors2.PNG);
    background-size:120px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 90px;
}

.html-display1{
    background-image: url(./assets/15-Ins-HTML-display2.PNG);
    background-size:220px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 40px;
}

.html-display2{
    background-image: url(./assets/16-Stu-HTML-display2.PNG);
    background-size:220px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 40px;
}

.css-box-model1{
    background-image: url(./assets/17-Ins-CSS-box-model2.PNG);
    background-size:220px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 40px;
}

.css-box-model2{
    background-image: url(./assets/18-Stu-CSS-box-model2.PNG);
    background-size:220px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 40px;
}

.css-positioning1{
    background-image: url(./assets/19-Ins-CSS-positioning2.PNG);
    background-size:240px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;
}

.css-positioning2{
    background-image: url(./assets/20-Stu-CSS-positioning2.PNG);
    background-size:240px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;
}

.git-guide{
    background-image: url(./assets/Github2.png);
    background-size: cover;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.mini-project{
    background-image: url(./assets/Miniproject.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}

.Homework{
    background-image: url(./assets/23-Homework2.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}

/* Dark mide Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(0, 255, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .row {
    margin: 20px;
    display: flex;
  }
  .col {
    margin: 20px;
  }
  /* Dark mide Switch */