* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: grey;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  black;
    border-radius: 2rem;
    margin: 1rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

div:hover {
    opacity: 1.0;
}
.InsCompass{
    background-image: url(./assets/01-Ins-Compass.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCompass{
    background-image: url(./assets/02-Stu-Compass.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCreateRead{
    background-image: url(./assets/03-Ins-Create-Read.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCreateRead{
    background-image: url(./assets/04-Stu-Create-Read.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsUpdateDelete{
    background-image: url(./assets/05-Ins-Update-Delete.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuUpdateDelete{
    background-image: url(./assets/06-Stu-Update-Delete.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsEmbeddedDocuments{
    background-image: url(./assets/07-Ins-Embedded-Documents.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuEmbeddedDocuments{
    background-image: url(./assets/08-Stu-Embedded-Documents.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCursorMethods{
    background-image: url(./assets/09-Ins-Cursor-Methods.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCursorMethods{
    background-image: url(./assets/10-Stu-Cursor-Methods.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsModelsSchemas{
    background-image: url(./assets/11-Ins-Models-Schemas.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuModelsSchemas{
    background-image: url(./assets/12-Stu-Models-Schemas.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsCRUDMongoose{
    background-image: url(./assets/13-Ins-CRUD-Mongoose.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuCRUDMongoose{
    background-image: url(./assets/14-Stu-CRUD-Mongoose.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsModelsInstanceMethods{
    background-image: url(./assets/15-Ins-Models-Instance-Methods.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuModelsInstanceMethods{
    background-image: url(./assets/16-Stu-Models-Instance-Methods.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsSubdocuments{
    background-image: url(./assets/17-Ins-Subdocuments.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuSubdocuments{
    background-image: url(./assets/18-Stu-Subdocuments.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsAggregates{
    background-image: url(./assets/19-Ins-Aggregates.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuAggregates{
    background-image: url(./assets/20-Stu-Aggregates.PNG);
    background-size:200px 80px;;
    background-repeat: no-repeat;
    background-position:bottom;
}