* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a607c;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    justify-content: space-evenly;
}
h1 {
    display: inline-block;
    font-size: 4.8rem;
}

nav ul li {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    justify-content:flex-end;
    margin-left: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div {
    background-color: white;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  black;
    border-radius: 2rem;
    margin: 1rem;
    opacity: 0.6;
    text-align: center;
    line-height: 2 rem;
    font-size: 2.5rem;
    font-weight: bold;
}

div:hover {
    opacity: 1.0;
}
.WindowObject {
    background-image: url(./assets/OpenConsole.PNG);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuWindowObject {
    background-image: url(./assets/OpenConsole.PNG);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsTraverseDom {
    background-image: url(./assets/InsTraverseDom.PNG);
    background-size:200px 100px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuTraverseDom {
    background-image: url(./assets/StuTraverseDom.PNG);
    background-size:150px 95px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsSettingAttributes {
    background-image: url(./assets/SettingAttributes.PNG);
    background-size:130px 100px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuSettingAttributes {
    background-image: url(./assets/StuSettingAttributes.PNG);
    background-size:130px 100px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsCreateAppend {
    background-image: url(./assets/CreateAppend.PNG);
    background-size:250px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuCreateAppend {
    background-image: url(./assets/StuCreateAppend.PNG);
    background-size:140px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsTimersIntervals {
    background-image: url(./assets/InsTimersIntervals.PNG);
    background-size:140px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuTimersIntervals{
    background-image: url(./assets/StuTimersIntervals.PNG);
    background-size:170px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.InsEventListener{
    background-image: url(./assets/InsEventListener.PNG);
    background-size:170px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.StuEventListener{
    background-image: url(./assets/StuEventListener.PNG);
    background-size:170px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsPreventingDefault {
    background-image: url(./assets/InsPreventingDefault.PNG);
    background-size:170px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuPreventingDefault {
    background-image: url(./assets/StuPreventingDefault.PNG);
    background-size:130px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsKeyboardEvents {
    background-image: url(./assets/InsKeyboardEvents.PNG);
    background-size:130px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuKeyboardEvents {
    background-image: url(./assets/StuKeyboardEvents.PNG);
    background-size:180px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsEventBubbling  {
    background-image: url(./assets/InsEventBubbling.PNG);
    background-size:180px 90px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.StuEventBubbling {
    background-image: url(./assets/StuEventBubbling.PNG);
    background-size:150px 100px;
    background-repeat: no-repeat;
    background-position:bottom;
}

.InsDataAttributes {
    background-image: url(./assets/InsDataAttributes.PNG);
    background-size:120px 100px;
    background-repeat: no-repeat;
    background-position:bottom;
}